.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inputs-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
}

.login-button {
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  color: #2b2b2b;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 8px;
}

.login-button:active {
  background-color: #d6d6d6;
}

.login-button:hover {
  border-color: #2b2b2b;
}

.input {
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  font-size: 16px;
  padding: 4px;
}

.error-message {
  font-size: 12px;
  color: red;
}

.disabled {
  pointer-events: none;
  color: #b3b3b3;
}
