.add-item-container {
  display: flex;
  flex-direction: column;
}

.inputs-container {
  display: flex;
  flex-direction: row;
}

.add-item-title {
  border: 1px solid var(--grey-1);
  border-radius: 4px;
  flex-shrink: 1;
  font-size: 16px;
  padding: 4px;
}

.title-grow {
  flex-grow: 1;
}

.text-grow {
  flex-grow: 3;
}
