.task-container {
  background-color: var(--grey-3);
  border: 1px solid var(--grey-2);
  border-radius: 6px;
  margin-bottom: 10px;
  min-width: 360px;
  padding: 10px;
}

.task-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.task-name.done {
  text-decoration: line-through;
}

.delete-button {
  background-color: var(--custom-red);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  padding: 4px 8px;
}

.task-text {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-grow: 2;
  gap: 8px;
}

.tag-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.add-tag-button {
  background-color: var(--custom-blue);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 6px;
}

.tag-item {
  background-color: var(--custom-blue);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 6px;
}

.has-error {
  border-color: var(--custom-red);
}

.disabled {
  color: var(--grey-1);
  pointer-events: none;
}
